body {
	background-color: #3399FF;
	color: #FFFFFF; 
}

#logo {
	height: 100px;
	width: 100%;
	background-color: #FFFFFCC;
	background-image: url('logo.jpg');
		background-repeat: no-repeat;
		background-position: center;
		/*background-bottom-padding: 10px;
		background-top-padding: 2px;*/
		background-size: 200px 100px;
	
}

h1 {
	font-size: 35px;
	text-align: center;
	font-family: helvetica, "Times New Roman", "Comic Sans MS", Serif; 
	font-weight: normal;
	background-color: #FF6666;
	 /* this should be 14*/
	/*border-style: double; */
	border-bottom-style:solid;
	border-top-style:solid;
	border-top-width: 2px;
	border-bottom-width: 2px;
	border-right-style: solid;
	border-left-style: solid;
	border-color: white; 
	width: 50%;
	margin: auto;
	padding: 5px;	
}

#numberoftoys {
	text-align: center;

}
p {
	text-align: center; 
}

#topbannertitle {
	height: 100px;
	width: 100%;
	background-color: #FFFFFCC;
}

img {
	height:250px;
	width: 300px; 
}


.float {
	width: 110%;
	padding: 110%;
			
}


nav ul {
	
	width: 80%;
	text-align: center;
	font-size: 12px;
	padding: 3%;
	padding-bottom: 5%;
	margin:auto;
	font-family: Helvetica, "Avenir Book", Arial, sans-serif;  
	font-weight: bold;
	color:#B3B3B3;
}

nav ul li {
	list-style-type: none;
	margin:auto;	
	width: 30%;
	height: 4em;
	background-color:#CACACA;
	float: right;
	border-radius: 15px;
}

nav a:link, nav a:visited {
	color: black;
	font-size: 2em;
	text-decoration: none;
	display: block; forces clickable area into a larger block 
	width: 100%;
	height: 100%;
	background-color:#CACACA;
	border-style: solid;
	border-width: 2px;
	border-color:black;
	text-align: center;
	
	border-radius: 10px;  this rounds the corners 10px 10px 0 0 creates tab like buttons! 
}


nav a:hover {
	background-color:#87C1F2;
	border-style: solid;
	border-width: 2px;
	border-color:black;
	text-align: center;
	border-radius: 10px;  this rounds the corners 10px 10px 0 0 creates tab like buttons!   	
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
